<!DOCTYPE html>
<html class=" no-touchevents" lang="zh-cn"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
	<meta name="theme-color" content="#4285f4">
	<title>柳铁一中1702班暑假约考提交系统</title>
	<!-- css -->
	<link href="{{cdn}}/base.css" rel="stylesheet">
	<link href="{{cdn}}/project.css" rel="stylesheet">
	<link href="{{cdn}}/auth.css" rel="stylesheet">
    <link href="{{cdn}}/css.css" rel="stylesheet">
<!--	<script type="text/javascript" src="{{cdn}}/fastjs.js"></script>-->
    <script type="text/javascript" src="https://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
	<script type="text/javascript">
	   $webfont.load("body", "eb5d4a94806544cbb973a48a4baeaa5e", "AaFendudu");
	   $webfont.load("code", "eb5d4a94806544cbb973a48a4baeaa5e", "AaFendudu");
	   $webfont.load("h1", "eb5d4a94806544cbb973a48a4baeaa5e", "AaFendudu");
	   $webfont.draw();
	</script>
    <style type="text/css">@font-face {font-family: 'AaFendudu19861188831d7aa';src: url('//cdn.webfont.youziku.com/webfonts/vipjs/120746/47846/5ce59bb6344aa74ea8ed3831.gif');src: url('//cdn.webfont.youziku.com/webfonts/vipjs/120746/47846/5ce59bb6344aa74ea8ed3831.gif?#iefix') format('embedded-opentype'),url('//cdn.webfont.youziku.com/webfonts/vipjs/120746/47846/5ce59bb6344aa74ea8ed3831.png') format('woff2'),url('//cdn.webfont.youziku.com/webfonts/vipjs/120746/47846/5ce59bb6344aa74ea8ed3831.bmp') format('woff'),url('//cdn.webfont.youziku.com/webfonts/vipjs/120746/47846/5ce59bb6344aa74ea8ed3831.jpg') format('truetype');font-weight: normal;font-style: normal;}</style>

	<!-- favicon -->

	<!-- ... -->
<style>
.divcss5{ position:fixed; bottom:0;}
</style><script src="{{cdn}}/l.js" async=""></script><link href="{{cdn}}/style_https.css" rel="stylesheet"></head>
  
<body class="page-brand" background="{{cdn}}/bg.jpg">

<h2 align="center" style="color:rgb(84,179,245)">欢迎来到柳铁一中1702班<br>暑假约考提交系统</h2>

<div class="authpage">
    <div class="container">
        <form action="/" method="post" enctype="multipart/form-data">
            <div class="auth-main auth-row auth-col-one">
                <div class="auth-top auth-row">
                    <a class="boardtop-left" href="/data">
                        <div>管 理</div>
                    </a>
                    <div class="auth-logo">
                        <img src="{{cdn}}/icon.png" alt="">
                    </div>
                    <a href="/help" class="boardtop-right">
                        <div>帮 助</div>
                    </a>
                </div>
                <div class="auth-row">
                    <div class="form-group-label auth-row row-login">
                        <label class="floating-label" for="group_name">组长名字</label>
                        <input class="form-control maxwidth-auth" id="group_name" type="text" name="group_name">
                    </div>
                </div>
                <div class="auth-row">
                    <div class="form-group-label auth-row row-login">
                        <label class="floating-label" for="student_id">自己学号(6位,1702XX)</label>
                        <input class="form-control maxwidth-auth" id="student_id" type="text" name="student_id">
                    </div>
                </div>
                <div class="auth-row">
                    <div class="form-group-label auth-row row-login">
                        <label class="floating-label" for="student_name">自己名字</label>
                        <input class="form-control maxwidth-auth" id="student_name" type="text" name="student_name">
                    </div>
                </div>
                <div class="auth-row">
                    <div class="form-group-label auth-row row-login">
                        <p style="color:gray">学科选择：</p><select name="subject" style="color:gray">
                            <option value="语文">语文</option>
                            <option value="数学">数学</option>
                            <option value="英语">英语</option>
                            <option value="物理">物理</option>
                            <option value="化学">化学</option>
                            <option value="生物">生物</option>
                        </select>
                    </div>
                </div>
                <div class="auth-row">
                    <div class="form-group-label auth-row row-login">
                        <label class="floating-label" for="score">分数</label>
                        <input class="form-control maxwidth-auth" id="score" type="text" name="score">
                    </div>
                </div>
                <div class="auth-row">
                    <div class="form-group-label auth-row row-login">
                        <label class="floating-label" for="feedback">反馈/吐槽(可填可不填)</label>
                        <input class="form-control maxwidth-auth" id="feedback" type="text" name="feedback">
                    </div>
                </div>
                <div class="auth-row">
                    <div class="form-group-label auth-row row-login">
                        上传照片：<input type="file" name="file" /><br>
                    </div>
                </div>
                <div class="auth-row">
                    <div class="form-group-label auth-row row-login">
                        <img width="auto" src="{{passport}}"><br>
                    </div>
                </div>
<!--                <div class="auth-row">-->
<!--                    <div class="form-group-label auth-row row-login">-->
<!--                        <img width="348px" src="{{passport}}"><br>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="auth-row">
                    <div class="form-group-label auth-row row-login">
                        <label class="floating-label" for="passport">验证码</label>
                        <input class="form-control maxwidth-auth" id="passport" type="text" name="passport">
                    </div>
                </div>

                <div class="btn-auth auth-row">
                    <button id="login" type="submit" class="btn btn-block btn-brand waves-attach waves-light waves-effect">
                        提交
                    </button>
                </div>
                <input type="hidden" name="s" value={{s}} /><br>
                <div class="auth-help auth-row">
<!--                    <div class="auth-help-table auth-row">-->
<!--                        <div class="checkbox checkbox-adv">-->
<!--                            <label for="remember_me">-->
<!--                                <input class="access-hide" value="week" id="remember_me" name="remember_me" type="checkbox">记住我-->
<!--                                <span class="checkbox-circle"></span><span class="checkbox-circle-check"></span><span class="checkbox-circle-icon icon">done</span>-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <a href="https://xn&#45;&#45;m80a.xyz/password/reset">忘记密码？</a>-->
<!--                    </div>-->
                </div>
                <div class="auth-bottom auth-row">
                    <p>祝君暑假愉快超车</p>
                </div>
            </div>
        </form>
    </div>
</div>




<div aria-hidden="true" class="modal modal-va-middle fade" id="result" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-xs">
		<div class="modal-content">
			<div class="modal-inner">
				<p class="h5 margin-top-sm text-black-hint" id="msg"></p>
			</div>
			<div class="modal-footer">
				<p class="text-right"><button class="btn btn-flat btn-brand-accent waves-attach waves-effect" data-dismiss="modal" type="button" id="result_ok">知道了</button></p>
			</div>
		</div>
	</div>
</div>
<!--
I'm glad you use this theme, the development is no so easy, I hope you can keep the copyright, I will thank you so much.
It will not impact the appearance and can give developers a lot of support :)

很高兴您使用并喜欢该主题，开发不易 十分谢谢与希望您可以保留一下版权声明。它不会影响美观并可以给开发者很大的支持和动力。 :)
-->    
<footer class="ui-footer">
	<div class="container">
		<marquee>©2019 鸽研部 <a href="/staff">STAFF</a></marquee>
	</div>
</footer>
	<!-- js -->
	<script src="{{cdn}}/jquery2.1"></script>
    	<script src="{{cdn}}/gt.js"></script>
    	<script src="{{cdn}}/base.js"></script>
	<script src="{{cdn}}/project.js"></script>

</body></html>